.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mainHeader {
  padding-top: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  color:ivory;
  position: fixed;
  top: 0px;
  right: 0px;
  word-spacing: 10px;
  background-color: rgb(71, 71, 71);
  width: 100%;
  height: 40px;
}

.navBarButtons {
  position: fixed;
  top: -10px;
  right: 10px;
}

.navBarHeader {
  position: fixed;
  top: -10px;
  right: 47%;
}

.loginBox {
  position: fixed;
  top: 9px;
  left: 5px;
}

.loginBox {
  position: fixed;
  top: 9px;
  left: 5px;
}

.loginButton {
  margin-left: 5px;
}

.inputBox {
  max-width: 100px;
}

.avatarIMG {
  border-radius: 100%;
  position: fixed;
  left: 10px;
  top: 10px;
  max-width: 100px;
  max-height: 20px;
}

.usernameNav {
  position: fixed;
  left: 43px;
  top: -11px;
  max-width: 30px;
  max-height: 30px;
}

.usernameError {
  position: fixed;
  font-size: small;
  left: 270px;
  top: -8px;
  max-width: 20px;
  max-height: 20px;
  
}

.filterBy {
  text-align: left;
  padding-left: 10px;
}

.articlesPage {
  padding-top: 0px;
  padding-left: 10px;
  left: 10px;
}

.articlesCards {
  background-color: grey;
  color: white;
  border-radius: 2.5px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.articleTitle {
  text-align: left;
}

.articleBody {
  text-align: left;
}

.articleBottom {
  text-align: left;
  word-spacing: 20px;
}

.ascButton {
  margin-left: 4px;
}

.error{
  border:2px solid #ff0000
  }

.commentPost {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
  max-width: 95%;
  width: 2000px;
}

.commentCard {
  background-color: rgb(41, 41, 41);
  color: white;
  border-radius: 2.5px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
}

.commentAuthor {
  padding-left: 15px;
  text-align: left;
}

.commentBody {
  padding-left: 10px;
  text-align: left;
}

.votesComment {
  text-align: left;
}


